.card {
	background-color: var(--mantine-color-body);
}

.title {
	font-family: Greycliff CF, var(--mantine-font-family);
	font-size: 1.2em;
}

.imageContainer {
	overflow: hidden;
}

.img {
	transition: all 500ms ease;
	&:hover {
		scale: 1.04;
	}
}
.content {
	z-index: 2;
	background-color: var(--mantine-color-body);
}

.footer {
	padding: var(--mantine-spacing-xs) var(--mantine-spacing-md) 0;
	margin-top: var(--mantine-spacing-md);
	border-top: rem(1px) solid
		light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}
